<!DOCTYPE html>
<html>

<head>
  <title>New Director</title>
</head>

<body>

<h1>Add New Director</h1>

<form action="http://localhost:3000/directors/add_director">
  <div>
    <label for="director_name">Name:</label>
    <input id="director_name" type="text" name="name">
  </div>
  <div>
    <label for="date_of_birth">Date of Birth:</label>
    <input id="date_of_birth" type="text" name="birthday">
  </div>
  <div>
    <label for="picture_url">Picture URL:</label>
    <input id="picture_url" type="text" name="picture">
  </div>
  <div>
    <label for="director_bio">Brief Biography:</label>
    <textarea id="director_bio" name="director_bio" rows="10" cols="150"></textarea>
  </div>
  <div>
    <button>Add</button>
  </div>
</form>





</body>

</html>