<!DOCTYPE html>
<html>

<head>
  <title>New Actor</title>
</head>

<body>

<h1>Add New Actor</h1>

<form action="http://localhost:3000/actors/add_actor">
  <div>
    <label for="actor_name">Name:</label>
    <input id="actor_name" type="text" name="name">
  </div>
  <div>
    <label for="date_of_birth">Date of Birth:</label>
    <input id="date_of_birth" type="text" name="birthday">
  </div>
  <div>
    <label for="picture_url">Picture URL:</label>
    <input id="picture_url" type="text" name="picture">
  </div>
  <div>
    <label for="actor_bio">Brief Biography:</label>
    <textarea id="actor_bio" name="actor_bio" rows="10" cols="150"></textarea>
  </div>
  <div>
    <button>Add</button>
  </div>
</form>





</body>

</html>